<!DOCTYPE html>
<html>
<head>
  <title>Baseball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if controller.controller_name == "teams" %>
  <%= render partial: 'header/team_header' %>
<% else %>
  <%= render partial: 'header/header' %>
<% end %>

<div class ="padding-test">
<%= yield %>
  </div>
</body>
</html>
